# Ignore any local Terraform cache folders

.terraform

# Ignore any local Terraform state files

*.tfstate
*.tfstate.*

# Ignore any local per-user Terraform pre-defined variable files

user.auto.tfvars

# Ignore any credentials for tests

/environments/*/test-credentials.json
/environments/*/*/google_application_credentials.json

# Ignore PID file for Cloud SQL Auth proxy

db_migration_proxy.pid